
.navbar-custom {
  background-color: rgb(61, 59, 59);
 
}
.my-component {
  background-color: rgb(255, 255, 255);
}

.custom-link {
  color: rgb(8, 8, 8);
}
.navbar-logo{
  height: 30px;
  margin-right: 10px;
}
.form-text-font{
  font-family: 'Times New Roman', Times, serif;
 }
 .background-container{
  background-color: rgb(163, 244, 244);
  min-height: 100vh;
  padding: 20px;
 }